{
  "presets": [
    ["env", {
      "targets": {
        "node": "4.0.0"
      },
      "exclude": ["transform-regenerator"]
    }],
    "flow"
  ],
  "plugins": ["transform-es2015-modules-commonjs"]
}
